.all-product {
  padding: 40px 0;

  .inner {
    padding: 0 10px;
  }

  .section-title {
    margin-bottom: 15px;
  }

  .product-list {
    @include flex(between);
    flex-wrap: wrap;
    padding-bottom: 60px;
  }

  .product-item {
    position: relative;
    width: calc(50% - 1vw);
    height: 108vw;
    max-height: 442px;
    margin-right: 1vw;
    margin-bottom: 20px;

    &:nth-child(even) {
      margin-right: 0;
    }

    a {
      display: block;
    }

    .product-img {
      position: relative;
      margin-bottom: 12px;

      .label {
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }

    .product-info {
      &-title {
        margin-bottom: 10px;
        font-family: $font-desc;
        font-size: 14px;
      }

      &-price {
        font-family: $font-desc;
        font-size: 12px;

        .price-off {
          display: inline-block;
          margin-bottom: 2px;
          font-style: normal;
          text-decoration: line-through;
        }
      }
    }

    .cart-btn {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .more-btn {
    position: relative;
    display: block;
    width: 220px;
    height: 28px;
    margin: 0 auto;
    color: $primary;
    border-bottom: 1px solid $primary;

    &:active {
      opacity: 0.6;
    }
  }

  @include responsive(T) {
    .product-item {
      height: 88vw;
      max-height: 660px;
    }
  }

  @include responsive {
    .section-title {
      margin-bottom: 30px;
    }

    .product-item {
      width: calc(25% - 10px);
      max-height: 436px;
      margin-right: 0;
    }

    .more-btn {
      font-size: 15px;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  @media screen and (min-width: 1280px) {
    .inner {
      width: 990px;
      padding: 0;
      margin: 0 auto;
    }
  }
}
