.footer {
  &-top {
    padding: 25px 0 20px 0;
    background-color: $background4;

    .fnb {
      @include flex;

      li {
        position: relative;

        &:not(:last-child):after {
          @include center-y;
          right: 0;
          width: 1px;
          height: 12px;
          background-color: $primary;
          content: '';
        }
      }

      a {
        display: inline-block;
        padding: 5px;
        font-size: 12px;
        color: $primary;
      }
    }
  }

  &-bottom {
    padding: 20px 0;
    background-color: $background5;

    .inner {
      padding: 0 10px;
    }

    .tab-menu {
      margin-bottom: 20px;

      &-item {
        button {
          @include flex(between);
          width: 100%;
          font-size: 13px;
          font-weight: 600;
          color: $secondary;
        }
      }

      &-item.active {
        .tab-content {
          display: block;
          margin-bottom: 20px;
        }

        button i {
          transform: rotate(180deg);
        }
      }

      .tab-content {
        display: none;
        font-size: 11px;

        ul {
          margin-bottom: 20px;
        }

        li,
        p {
          font-family: $font-desc;
        }
      }
    }

    .footer-detail-list {
      li {
        margin-bottom: 3px;
        font-family: $font-desc;
        font-size: 11px;
      }

      img {
        width: 100px;
      }
    }
  }

  @include responsive {
    &-bottom {
      padding: 30px 0;

      &-wrapper {
        @include flex(center, start);
        flex-direction: row-reverse;
      }

      .tab-menu {
        @include flex(end, start);
        flex-direction: row-reverse;
        flex-wrap: wrap;
        width: 100%;

        &-item {
          width: 50%;

          button {
            margin-bottom: 15px;
            font-size: 15px;
            cursor: unset;
          }

          .tab-content {
            display: block;
            font-size: 12px;
          }

          &:last-child {
            margin-top: -30px;
          }
        }
      }

      .footer-detail-list {
        width: 50%;

        li {
          font-size: 12px;
        }

        img {
          width: 140px;
        }
      }
    }
  }
}
