$font-base: #4c4c4c;

$primary: #477a7b;
$secondary: #487a7b;

$brown: #b15400;
$orange: #ff8624;
$blue: #1a4148;
$gray: #444;
$beige: #fff3d3;

$black: #000;
$white: #fff;

$background1: #f4eddc;
$background2: #f0e7d6;
$background3: #f5f5f5;
