$font-base: #4c4c4c;

$primary: #477a7b;
$secondary: #487a7b;

$brown: #b15400;
$brown-dark: #381a0b;
$orange: #ff8624;
$green: #1a4148;
$blue: #3374af;
$gray: #444;
$purple: #54447e;
$beige: #fff3d3;

$black: #000;
$white: #fff;

$border: #ececec;

$background1: #f9f9ef;
$background2: #f4eddc;
$background3: #f0e7d6;
$background4: #f5f5f5;
